# shrinkwrap、outdated、updateコマンドを実行するときにdevを含めるようにしてくれる。
also=dev
# 自動的に --save-exact を付けてくれる。
save-exact=true
# npm installするときに出てくるprogressバーを抑止出来る。
progress=false
# install対象のpackageのpackage.jsonのenginesを見て、Node.jsのバージョンが合致しなかった場合はnpm installを失敗扱いにしてくれる。
engine-strict=true