@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@layer base {
  html,
  body {
    @apply h-screen;
    @apply w-screen;

    /* font-family: fot-tsukubrdgothic-std, sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    @apply font-normal;
    @apply text-base;

    @apply bg-gray-100;
    @apply text-gray-700;
  }

  h2,
  h3,
  h4 {
    @apply text-gray-700;
    @apply my-4;
  }
  h2 {
    @apply text-2xl;
    @apply text-gray-700;

    @apply border-b-2;
    @apply border-solid;
    @apply border-gray-700;
  }

  h2::before {
    content: "#";

    @apply mr-2;
  }

  h3 {
    @apply text-xl;

    @apply border-b;
    @apply border-solid;
    @apply border-gray-700;
  }

  h3::before {
    content: "##";

    @apply mr-2;
  }

  h4 {
    @apply text-lg;
  }

  p {
    @apply my-4;
  }

  a {
    @apply text-green-500;
    @apply no-underline;
  }

  a:hover {
    @apply underline;
    @apply cursor-pointer;
  }

  img {
    @apply block;
    @apply bg-white;
    @apply rounded-xl;
    @apply shadow;
    @apply p-2;
  }

  ul,
  ol {
    @apply ml-12;
    @apply mb-4;
  }

  li {
    @apply list-disc;
    @apply leading-normal;

    @apply py-1;
  }

  code {
    @apply rounded;
    @apply border border-solid bg-gray-300;
    @apply text-sm;
    @apply font-mono;

    @apply p-2;
  }
}
