@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@layer base {
  html,
  body {
    @apply h-screen;
    @apply w-screen;

    /* font-family: fot-tsukubrdgothic-std, sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    @apply font-normal;
    @apply text-base;

    @apply bg-gray-100;
    @apply text-gray-700;
  }

  a {
    @apply text-green-500;
    @apply no-underline;
  }

  a:hover {
    @apply underline;
    @apply cursor-pointer;
  }

  img {
    @apply block;
    @apply max-w-full;
    @apply m-auto;
    @apply py-2;
  }

  ul,
  ol {
    @apply list-disc;
  }
}

#logo {
  height: 55px;
}
